*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
   background-color: rgb(0, 150, 136);
   height: 20vh;
   width: 100%;
   padding-top: 2rem; 
}

section{
    background-color:rgb(217, 219, 212) ;
    height: 80vh;
}

.container{
    width: 80%;
    height: calc(100vh - 2rem);
    margin: 0 auto 2rem auto ;
    display: flex;
    position: relative;
    z-index: 1;
}
/* -------------------------------- */
/* LEFT APP-STYLE */

.left-app{
    width: 33%;
    border: 1px solid black;
}
.user{
    display: flex;
    justify-content: space-between;
    background-color: rgb(234, 234, 234);
    padding: 0.47rem;
}

.user-left{
    width: 80%;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.user-right{
    width: 20%;
    display: flex;
    align-items: center;
    gap: 1rem;
    
}
/* ------------------------ */
.new-msg{
    background-color:rgb(142, 218, 252) ;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: smaller;
    padding: 1rem;
}

.new-msg i{
    background-color: white;
    border-radius: 50%;
    padding: 0.4rem;
}

.new-msg >div> p{
    text-decoration: underline;
}
/* -------------------- */
/* SEARCH-MSG STYLE */
.search-msg{
    padding: 0.5rem;
    background-color: rgb(250, 250, 250) ;

}
.search-msg div{
    display: flex;
    gap: 0.5rem;
}

.search-msg>div{
    background-color: rgb(250, 250, 250);
}
.search-msg i{
    color: grey;
}

.search-msg input{
    width: 95%;
}
/* ------CONTACTS STYLE------------ */
.contacts{
    overflow-y: auto;    
}
.contact{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    padding: 0.5rem;
}

.contact-left{
    width: 70%;
}
.contact img{
    width: 70px;
    border-radius: 50%;
}

.contact-txt p{
    width:150px;
    font-size: small;
}
/* RIGHT-APP STYLE --------------- */
.right-app{
    width: 67%;
}
.contact-selected{
    width: 100%;
    padding: 0.5rem;
    background-color: rgb(234, 234, 234);
    display: flex;
    justify-content: space-between;
}
.contact-left{
    width: 40%;
    display: flex;
    align-items: center;
    gap: 0.5rem;

}

.contact-left img{
    width: 70px;
    height: 70px;
}

.contact-right{
    width: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.7rem;

}
/* --------CHAT STYLE --------------------- */
.chat{
    background-image: url(../img/mine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border: 1px solid black;
    height: 84%;
    padding: 2rem;
    position: relative;
}

.chat-sent,.chat-received{
    padding: 0.5rem;
    width: 30%;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.chat-sent p:nth-child(2) ,.chat-received p:nth-child(2){
    text-align: end;
    font-size: smaller;
}

/* classe messaggi */
.sent{
    background-color:rgb(213, 249, 186) ;
}

.received{
    background-color: white;
}
/* --------INPUT-CHAT STYLE-----------------  */

.input-chat{
    padding: 1.2rem;
    display: flex;
    justify-content: space-between;
    background-color:rgb(243, 238, 234) ;
}

.input-chat>input{
    width: 94%;
}

.input-chat>i{
    color: grey;
}

