<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://unpkg.com/axios@1.6.8/dist/axios.min.js"></script>
    <title>Vue-Boolzapp</title>
</head>

<body>
    <script src="https://unpkg.com/vue@3.4.27/dist/vue.global.js"></script>
    <div id="app">
        <header>
            <!-- contenitore grande app -->
            <div class="container">
                <!-- COLONNA SX APP -->
                <div class="left-app">
                    <div class="user">
                        <div class="user-left">
                            <!-- https://i.pravatar.cc/70 -->
                            <img src="/img/pexels-caio-58463.jpg" width="70" height="70" alt="">
                            <p>Sofia</p>
                        </div>
                        <div class="user-right">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>

                    </div>
                    <div class="new-msg">
                        <i class="fa-regular fa-bell-slash"></i>
                        <div>
                            <h3>Ricevi notifiche di nuovi messaggi</h3>
                            <a href="#">Attiva notifiche desktop</a>
                        </div>
                    </div>
                    <div class="search-msg">
                        <div>
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <input v-model="inputContatti" type="search" placeholder="Cerca o inizia una nuova chat">

                        </div>

                    </div>
                    <div class="contacts">

                        <div class="contact" :class="(element.name.startsWith(inputContatti))? 'flex' : 'none' "
                            v-for="element, i in contacts" @click="f_utente_chat(i)">
                            <div class="contact-left">
                                <img :src="element.avatar" :alt="element.avatar">
                                <div class="contact-txt">
                                    <h3>{{element.name}}</h3>
                                    <!-- se metto indice 2 diventa tutto bianco  -->
                                    <p>{{element.messages[1].message}}</p>
                                </div>
                            </div>
                            <div class="contact-right">
                                <p>{{element.messages[0].date.substring(10,16)}}</p>
                            </div>

                        </div>

                    </div>
                </div>
                <!-- COLONNA DX APP -->
                <div class="right-app">
                    <div class="contact-selected">
                        <div class="contact-left">
                            <img :src="contacts[utenteselezionato].avatar" alt="">
                            <div>
                                <h3>{{contacts[utenteselezionato].name}}</h3>
                                <p>Ultimo accesso alle 12</p>
                            </div>
                        </div>
                        <div class="contact-right">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <div class="chat">
                        <div class="chat-box">
                            <div v-for="messaggio in contacts[utenteselezionato].messages">
                                <div class="chat-sent user-chat" :class="messaggio.status">
                                    <p> {{messaggio.message}}</p>
                                    <p>{{messaggio.date.substring(10,16)}}</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="input-chat">
                        <i class="fa-regular fa-face-smile"></i>
                        <input @keyup.enter="f_invio_msg()" v-model="messaggioInput" type="text"
                            placeholder="Scrivi un messaggio">
                        <i @click="f_invio_msg()" class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-microphone"></i>

                    </div>
                </div>
        </header>
        <section></section>
    </div>
    <script src="./JS/script.js"></script>
</body>

</html>